spring:
  profiles:
    active: local
  application:
    name: ags-api
  threads:
    virtual:
      enabled: true

webflux:
  body:
    max_size_mb: 10

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    metrics:
      enabled: true

app:
  timezone: UTC+7
